@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
/* common styles  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* header starts  */
header{
    padding: 100px;
    /* height: 100vh; */

}
nav{
    display: flex;
    justify-content: space-between;
}
.fa-bars{
   display: none;
    
}
.top-title{
    font-size: 30px;
   animation: title 1s linear 1s 1 forwards ;
   visibility: hidden;
   
}
@keyframes title {
    0%{
        transform: translateX(-500px);
        visibility: visible;
    }
    100%{
        transform: translateX(0px);
        visibility: visible;
    }
}

.nav-right{
    display: flex;
}
.nav-right ul{
    display: flex;
    animation: ul 1s linear 1.5s 1 forwards ;
    visibility: hidden;

}
@keyframes ul {
    0%{
        transform: translateY(-500px);
        visibility: visible;
    }
    100%{
        transform: translateY(0px);
        visibility: visible;
    }
}
.nav-right ul li{
    list-style-type: none;
    margin: 10px;
}
.nav-right ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.fas{
    font-size: 20px;
}
/* banner starts  */
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    
   
}
.left-banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.banner-title{
    font-size: 50px;
    width: 560px;
    
}
.left-banner p{
    width: 500px;
    margin: 20px 0;
}


.right-banner img{
   width: 100%;
   visibility: hidden;
   animation: img 1s linear 3s 1 forwards;
}
@keyframes img {
    0%{
        transform: scale(0.5);
        visibility: visible;
    }
    100%{
        transform: scale(1);
        visibility: visible;
    }
}

.btn{
    background-color: #E02C6D;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    font-weight: bold;
}
.fa-arrow-right{
    font-size: 15px;
    margin-left: 5px;
}

/* collection starts */
.collection-sec{
    padding: 0 150px 50px 150px;
}
.collections{
    
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left: 30px;
  grid-row-gap: 50px;
  grid-column-gap: 30px;
  margin-bottom: 50px;
  
} 
.collection-title{
    text-align: center;
    margin-bottom: 80px;
    
}
.collection{
    padding: 10px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    
}
.product-img img{
    width: 100%;
}
.product-title,.product-img,.cost{
    margin-bottom: 10px;
}
.collections .fas{
    color: orange;
    font-size: 10px;

}
.review{
    margin-bottom: 5px;
}
.review span{
    font-size: 15px;
    margin-left: 10px;
}
.shifting{
    font-size: 12px;
    font-weight: bold;
    color: gray;
}
.more{
    display: flex;
    justify-content: flex-end;
    
}
.more a{
    text-decoration: none;
    color: #E02C6D;
    font-weight: bold;
}
#more-arrow{
    color:#E02C6D ;
}

/* myself starts  */

hr{
    width: 95%;
    margin: 0 auto;
   border: .5px solid #E02C6D;
}
.sign-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sign-in p{
    font-size: 14px;
    margin-bottom: 5px;
}

#sign-in-btn{
    padding: 10px 130px;
    margin-bottom: 5px;

}
.sign-in small{
    font-size: 12px;
}
.sign-in small a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}
.sign-in small a:hover{
    color: #E02C6D ;
}
/* back starts  */
.back{
    margin-top: 50px;
}
.back a{
    text-decoration: none;
    color: white;
    background-color: rgb(54, 50, 50);
    display: block;
    padding: 10px;
    text-align: center;
}
.back a:hover{
    background-color:rgba(54, 50, 50, 0.747) ;
}
/* footer starts  */
footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
   padding: 30px 0;

}
.footer-title{
    margin-left: 32px;
    margin-bottom: 5px;
}
.footer-copy{
    font-weight: lighter;
}
.footer-rights{
    font-weight: lighter;
    color: rgb(173, 165, 165);
    margin-left: 65px;
}
.fab{
    margin: 15px;
}

/* media query starts  */
/* tablet version  */
@media screen and (min-width:481px) and (max-width:780px){
    header{
        padding: 100px;
        padding-bottom: 0;
    }
    .top-title{
        font-size: 30px;
       animation: title .5s linear 1s 1 forwards ;
       visibility: hidden;
       
    }
    @keyframes title {
        0%{
            transform: translateY(-500px);
            visibility: visible;
        }
        100%{
            transform: translateY(0px);
            visibility: visible;
        }
    }
    
     .nav-right ul {
         display: none;
     }
     .fa-bars{
         display: block;
         animation: bars 0.5s 0.5s 1 forwards ;
         visibility: hidden;

     }
     @keyframes bars {
        0%{
            transform: translateX(-500px);
            visibility: visible;
        }
        100%{
            transform: translateX(0px);
            visibility: visible;
        }
    }
     
     .banner{
         width: 630px;
         margin-top: 80px;

     }
     .left-banner{
         width: 50%;
     }
     .banner-title{
         font-size: 30px;
         width: 346px;
     }
     .left-banner p{
        width: 300px;
    }
     .right-banner{
         width: 50%;
     }
     .right-banner img{
         width: 80%;
         margin-left: 50px;
         animation: img 1s linear 2s 1 forwards;
        
     }
     
     .collection-sec{
         padding: 100px;
     }
     .collection-title{
         margin-bottom: 40px;
     }
     .collections{
         grid-template-columns: repeat(2,1fr);
     }
}

/* mobile version */
@media screen and (max-width:480px) {
    header{
        padding: 50px;
    }
    .fa-bars{
        display: block;
        animation: bars 0.5s 1s 1 forwards ;
         visibility: hidden;
    }
    @keyframes bars {
        0%{
            transform: translateX(-500px);
            visibility: visible;
        }
        100%{
            transform: translateX(0px);
            visibility: visible;
        }
    }
    .top-title{
        font-size:25px;
        margin-left: 0px;
        animation: title 1s linear 1.2s 1 forwards ;
      }    
      @keyframes title {
        0%{
            transform: translateX(500px);
            visibility: visible;
        }
        100%{
            transform: translateX(0px);
            visibility: visible;
        }
    }    
        
  

    .nav-right ul{
        display: none;
    }
    .banner{
        display: block;
        margin-top: 40px;
        
    }
    .left-banner{
       margin-bottom: 20px;
      

    }
    .left-banner p{
        width: 400px;
    }
    .left-banner span{
        margin-left: 90px;
    }
    .banner-title{
        font-size: 30px;
        margin-left: 0;
        width:348px ;
    }
    .btn{
        padding: 10px 50px;
        margin-left: 70px;
    }
    .right-banner img{
        animation: img 1s linear 2s 1 forwards;
    }
    .collection-sec{
       padding: 0;
       margin-bottom: 30px;
    }
    .collections{
        display: block;
        
    }
    .collection{
        margin-bottom: 15px;
    }
    #sign-in-btn{
        margin-left: 0px;
    }
}