@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
/* common styles  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* header starts  */
header{
    padding: 100px;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
}
.top-title{
    font-size: 30px;
}
.nav-right{
    display: flex;
}
.nav-right ul{
    display: flex;
}
.nav-right ul li{
    list-style-type: none;
    margin: 10px;
}
.nav-right ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.fas{
    font-size: 20px;
}
/* banner starts  */
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    
   
}
.left-banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.banner-title{
    font-size: 50px;
    
}
.left-banner p{
    margin: 20px 0;
   
}
.right-banner img{
   width: 100%;
}
.btn{
    background-color: #E02C6D;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    font-weight: bold;
}
.fa-arrow-right{
    font-size: 15px;
    margin-left: 5px;
}
